.test-block {
    display: block;
    background-color: blue;
    width: 100px;
    height: 100px;
}


.container {
    max-width: 900px;
    min-width: 550px;
}

.pad {
    padding: 0 10px;
}

#cont-game-list, #cont-new-game {
    display: block
}

#navigation li {
    margin-top: 5px;
}

/* index-page */

#game-list thead {
    font-weight: bold;
}

#game-list td {
    text-align: center;
}

#game-list th {
    text-align: center;
}

.no-games {
    margin: 0 0 20px 0;
}

/* new-game */

form {
    margin-bottom: 15px;
}