bin/*
!bin/runner.ini.dist
!bin/tester.ini.dist
build/*
.idea/*
logs/*
lib/*
Makefile
CMakeCache.txt
CMakeFiles/*
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
Poco/*
gtestresults.xml

#Windows - Visual Studio
*.sln
*.sdf
*.suo
*.opensdf
*.vcxproj
*.vcxproj.filters
runner.dir/*
tester.dir/*
x64/*
