[submodule "lib/gtest"]
	path = lib/gtest
	url = https://github.com/google/googletest.git
[submodule "lib/poco"]
	path = lib/poco
	url = https://github.com/pocoproject/poco
[submodule "lib/libpq"]
	path = lib/libpq
	url = https://github.com/LuaDist/libpq.git
