<? include "header.html" ?>

<link rel="stylesheet" type="text/css" href="assets/css/games.css"/>
<script data-main="assets/js/games/init" type="text/javascript" src="assets/js/require.js"></script>


<div id="cont-game-list" class="pad">

</div>


<div id="cont-new-game" class="pad">

</div>


<script type="text/template" id="tpl-no-games">
    <div class="no-games">
        <h3>Игры отсутствуют... :(</h3>
    </div>
</script>


<script type="text/template" id="tpl-game-list">
    <div class="row marketing" id="game-list">
        <h3>Список игр:</h3>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>id</th>
                    <th>Имя игры</th>
                    <th>Режим</th>
                    <th>Карта</th>
                    <th>Игроков</th>
                    <th>Создатель</th>
                    <th></th>
                </thead>
                <%= gameList %>
            </table>
        </div>
    </div>
</script>


<script type="text/template" id="tpl-game-item">
    <td><%= id %></td>
    <td><%= name %></td>
    <td><%= mod %></td>
    <td><%= map %></td>
    <td><%= curNumPlayers %>/<%= maxNumPlayers %></td>
    <td><%= owner %></td>
    <td><a class="btn btn-small btn-success" href="#" role="button">Играть</a></td>
</script>


<script type="text/template" id="tpl-new-game">
    <div class="row marketing" id="new-game">
        <h3>Создать новую игру</h3>

        <div class='error'>
            <p class="text-danger"></p>
        </div>

        <form>
            <div class="form-group">
                <label for="new-game-name">Имя игры</label>
                <input type="text" class="form-control" id="new-game-name" />
            </div>

            <div class="form-group">
                <label for="new-game-mod">Режим</label>
                <select class="form-control" id="new-game-mod">
                    <option>Свободный</option>
                    <option>Обычный</option>
                </select>
            </div>

            <div class="form-group">
                <label for="new-game-map">Карта</label>
                <select class="form-control" id="new-game-map">
                    <option>Космос</option>
                    <option>Земля</option>
                </select>
            </div>

            <div class="form-group">
                <label for="new-game-map">Максимальное кол-во игроков</label>
                <select class="form-control" id="new-game-max-players">
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </div>

            <div class="btn btn-primary" id="new-game-submit">Создать</div>
        </form>
    </div>
</script>


<? include "footer.html" ?>