<? include "header.html" ?>
<form class="form-horizontal" method="post">
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input id="email" type="email" name="email" class="form-control" placeholder="Email" value="<? echo email ?>">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Пароль</label>
    <div class="col-sm-10">
      <input id="password" type="password" name="password" class="form-control" placeholder="Пароль">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Войти</button>
    </div>
  </div>
</form>
<? include "footer.html" ?>