<? include "header.html" ?>
<? echo title ?>
<div id="contentWrapper"/>
<? echo number ?>
<input type="button" id="echo_btn" value="GetGames" class="btn btn-default">
<button class="btn btn-default" data-toggle="modal" data-target="#myModal">Create Game</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Create Game</h4>
    </div>
    <div class="modal-body">
    <div>
      <input type="text" class="form-control" id="gameNameInput" placeholder="game name"/>
      <input type="text" class="form-control" id="gameMapInput" placeholder="map name"/>
      <input type="text" class="form-control" id="gameModeInput" placeholder="game mode"/>
      <input type="number"class="form-control" id="gameMaxNumPlayers" placeholder="game players number"/>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" id="CreateGameBtn" class="btn btn-primary">Create</button>
    </div>
  </div>
</div>
</div>
<input type="button" id="leave_btn" value="LeaveGame" class="btn btn-default">
<input type="button" id="lobby_btn" value="GetLobyInfo" class="btn btn-default">
<input type="button" id="close_btn" value="Disconnect" class="btn btn-default">
<button id="connect" class="btn btn-default">Connect</button>
<div id="BodyConetent"></div>

<? include "footer.html" ?>

<script>
  var access;
  var curentAction = null;
  var ws;

  connect = function(){
    if ("WebSocket" in window){
      accessT = user.getToken();
      ws = new WebSocket("ws://localhost:1337/lobby/" + accessT);
      ws.onopen = function(){
        alert("Connected");
      };

      ws.onmessage = function(evt)
      { 
        console.log(evt.data);
        jsobj = JSON.parse(evt.data);
        if( jsobj["result"] == "ERROR")
        {
          alert("Error");
        }
        switch(jsobj["action"])
        {
          case "GetGames":
            $("#BodyConetent").children().remove();
            showGames(jsobj["data"]["game"]);
            break;
          case "CreateGame":
            ws.send(JSON.stringify(GetLobby(accessT)) + '\0');
            break;
          case "LeaveGame":
            $("#BodyConetent").children().remove();
            switch(jsobj["result"])
            {
              case "Ok":
                alert("Вы покинули игру");
                $("#BodyConetent").children().remove();
                break;
              case "HOST_LEAVE_LOBBY":
                alert("Создатель игры покинул игру");
                $("#BodyConetent").children().remove();
                break;
              default:
                break;
            }
            break;
          case "GetLobbyInfo":
           $("#BodyConetent").children().remove();
           switch(jsobj["result"])
            {
              case "Ok":
              LobbyInfo(jsobj["data"]);
              break;
              case "ERROR":
                $("#BodyConetent").children().remove();
                break;
              default:
                break;
            }
            break;
          case "JoinToGame":
            $("#BodyConetent").children().remove();
            if (curentAction === "JoinToGame")
              ws.send(JSON.stringify(GetLobby(accessT)) + '\0');
            break;
          default:
            break;
        }
        curentAction = null;
      };

      ws.onclose = function() { 
        alert("WebSocket closed.");
      };
      
    }else {
      alert("This browser does not support WebSockets.");
    }

    function GetGames(){ 
      return {
        "action": "GetGames" 
      }
    }

    function CreateGame(accessT, game)
    {
      return {
          "action": "CreateGame",
          "params": [ game, accessT ]
      }
    }

    function LeaveGame(accessT)
    {
      return { 
        "action": "LeaveGame",
        "params": [accessT]
      }
    }

    function JoinGame(accessT, gameId)
    {
        return { 
        "action": "JoinToGame",
        "params": [gameId, accessT]
      }
    }

    function GetLobby(accessT)
    {
      return { 
        "action": "GetLobbyInfo",
        "params": [accessT]
      }
    }

    function Game(name, maxNumPlayers, mode, map){
      return {
        "name": name,
        "maxNumPlayers": maxNumPlayers,
        "mode": mode,
        "map": map
      }
    }

    $("#echo_btn").click(function(){
      curentAction = "GetGames";
      ws.send(JSON.stringify(GetGames()) + '\0');
    });

    $("#leave_btn").click(function(){
      curentAction = "LeaveGame";
      ws.send(JSON.stringify(LeaveGame(accessT)) + '\0');
    });

    $("#lobby_btn").click(function(){
      curentAction = "GetLobby";
      ws.send(JSON.stringify(GetLobby(accessT)) + '\0');
    });

    $("#close_btn").click(function(){
      $("#BodyConetent").children().remove();
      ws.close();
    });

    $("#CreateGameBtn").click(function(){

      $("#myModal").modal('hide');
      curentAction = "CreateGame";
      data = CreateGame( 
      accessT,
      Game(
        $("#gameNameInput").val(),
        $("#gameMaxNumPlayers").val(),
        $("#gameModeInput").val(),
        $("#gameMapInput").val()
        )
      );
      txt = JSON.stringify(data)
      ws.send(txt + '\0');
    });

    function LobbyInfo(data)
    {

      $lobby = $("#BodyConetent");
      $lobby.append( $("<span>").text("Players: " + data["curNumPlayers"] + '/' + data["maxNumPlayers"]));
      $lobby.append($("<br>"));
      $lobby.append( $("<span>").text("GameName: " + data["name"]));
     
      $table = $("<table>").addClass("table-striped").addClass("playerList");
      for (player in  data["players"])
      {
        $table.append($("<tr>").append($("<td>").append($("<div>").text(data["players"][player]))));
      }
      $lobby.append($table);
    }
     
    function showGames(data)
    {
      $gamelist = $("#BodyConetent");
      $gamelist.children().remove();
      $table = $("<table>").addClass("table-striped").addClass("playerList");
      for (elem in data)
      {
        gamename = data[elem]["name"]
        curplayers = data[elem]["curNumPlayers"]
        maxNumPlayers = data[elem]["maxNumPlayers"]
        gameId = data[elem]["id"]
        $table.append($("<tr>").append($("<td>").append($("<span>").text(gamename + " - "), $("<span>").text(curplayers + '/' + maxNumPlayers),
          $("<button>").text("Connect").click(function()
          {
            curentAction = "JoinToGame";
            txt = JSON.stringify(JoinGame(gameId, accessT));
            ws.send(txt + '\0');
          }))));
      }
      $gamelist.append($table);
    } 
  }
  $("#connect").click(connect);
</script>