<? include "header.html" ?>
<form class="form-horizontal" method="post">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Имя</label>
    <div class="col-sm-10">
      <input id="name" type="text" name="name" class="form-control" placeholder="" value="<? echo user.name ?>">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Сохранить</button>
    </div>
  </div>
  <input type="hidden" name="change" value="common">
</form>
<form class="form-horizontal" method="post">
  <fieldset>
    <legend>Изменение email</legend>
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input id="email" type="email" name="email" class="form-control" placeholder="Email" value="<? echo user.email ?>">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Пароль</label>
      <div class="col-sm-10">
        <input id="password" type="password" name="password" class="form-control" placeholder="Текущий пароль">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Сохранить</button>
      </div>
    </div>
    <input type="hidden" name="change" value="email">
  </fieldset>
</form>
<form class="form-horizontal" method="post">
  <fieldset>
    <legend>Изменения пароля</legend>
    <div class="form-group">
      <label for="password_current" class="col-sm-2 control-label">Текущий пароль</label>
      <div class="col-sm-10">
        <input id="password_current" type="password" name="password_current" class="form-control" placeholder="Текущий пароль">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Пароль</label>
      <div class="col-sm-10">
        <input id="password" type="password" name="password" class="form-control" placeholder="Пароль">
      </div>
    </div>
    <div class="form-group">
      <label for="password2" class="col-sm-2 control-label">Повторите пароль</label>
      <div class="col-sm-10">
        <input id="password2" type="password" name="password2" class="form-control" placeholder="Повторите пароль">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Сохранить</button>
      </div>
    </div>
    <input type="hidden" name="change" value="password">
  </fieldset>
</form>
<? include "footer.html" ?>