<!DOCTYPE html>
<html lang="ru-RU">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="keywords" content="Web-game">
        <meta name="description" content="Web-game">
        <meta name="author" content="">
        <!--<link rel="icon" href="favicon.ico">-->

        <title><? if title ?><? echo title ?> - Web-game<? else ?>Web-game<? endif ?></title>

        <script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

        <script type="text/javascript" src="/assets/js/script.js"></script>
        <link href="/assets/css/style.css" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Web-game</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <? if isAuthorized ?><? include "menu.html" ?><? else ?><? include "users.html" ?><? endif ?>
            </div>
        </div>
    </nav>

<main class="container">
